<!--
  Generated template for the PhotoEditorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>photo-editor</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <!-- 
        Les filtres ne s'additionnent pas
        <ion-col>
          <img   [ngClass]="{
            'gray': grayFilter,
            'blur': blurFilter,
            'contrast': contrastFilter
          }" id="edit-image" src="assets/imgs/testimg.jpg"/>
      </ion-col> -->
      <ion-col>
        <!-- La synthaxe de ce ngStyle est une des seules solutions viables pour modifier dynamiquement les filtres -->
        <img
          [ngClass]="class"
          id="edit-image"
          [src]="imageSrc"
          [ngStyle]="{'filter': 
          'grayscale(' + imageFilter.grayscale + ')' + 
          'blur(' + imageFilter.blur + ')' + 
          'contrast(' + imageFilter.contrast + ')' + 
          'brightness(' + imageFilter.brightness + ')' +
          'invert(' + imageFilter.invert + ')' +
          'sepia(' + imageFilter.sepia + ')'}"
        />
      </ion-col>
    </ion-row>
    <div *ngFor="let row of chunkArray(filtersList, 3)">
      <ion-row>
        <ion-col col-4 *ngFor="let f of row">
          <photo-editor-preview [imageSrc]="imageSrc" [filter]="f.previewFilter" [name]="f.name" (action)="f.action()"></photo-editor-preview>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>

<ion-footer>
  <button ion-button full (click)="saveImg()">
    Enregistrer dans la galerie
  </button>
</ion-footer>
