<!-- Generated template for the ImageviewComponent component -->
<button id="btnGris"
ion-button
(click) = "applyfilter()"
>Filtre Grisé</button>
<button 
ion-button
(click) = "applyfilterCep()"
>Filtre cépia</button>
<button 
ion-button
(click) = "applyfilterFlou()"
>Filtre flou</button>
<ion-img  [ngClass]="status ? 'gris' : 'pasgris'"  [src]="'https://www.leparisien.fr/resizer/74wMQIeXKLDUKuKvSzJQME_0ULg=/932x582/arc-anglerfish-eu-central-1-prod-leparisien.s3.amazonaws.com/public/KNVYKZBDTTOXNO37FEVDTD5DJU.jpg'"></ion-img>
