<ng-container class="gallery-search" *ngIf="isSearchOpen; else elseTemplate">
  <button ion-button color="success" (click)="makeSearch(minDate.value, maxDate.value)">
    <ion-icon name="search"></ion-icon>
  </button>
  <ion-item>
    <ion-datetime #minDate placeholder="Min"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-datetime #maxDate placeholder="Max"></ion-datetime>
  </ion-item>
  <div *ngIf="(filters$ | async) as filters">
    <ion-item>
      <ion-label>Localization</ion-label>
      <ion-select interface="alert" [(ngModel)]="selectedLocalization">
        <ion-option *ngFor="let filter of filters.localizations" [value]="filter">
          {{filter.municipality}} - {{filter.county}} - {{filter.country}}
        </ion-option>
        <ion-option [value]="defaultLocalization" selected>All</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Device</ion-label>
      <ion-select interface="alert" [(ngModel)]="selectedDevice">
        <ion-option *ngFor="let device of filters.devices" [value]="device">
          {{device.name}}
        </ion-option>
        <ion-option [value]="defaultDevice" selected>All</ion-option>
      </ion-select>
    </ion-item>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <button ion-button color="success" (click)="openSearch()">
    Search
  </button>    
</ng-template>
<p *ngIf="(images$ | async) as images">
  {{images.length}} image{{images.length > 1 ? 's': ''}} available
</p>
<div class="gallery-images">
  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let image of (images$ | async)">
        <img class="gallery-image" [src]="image.data" />
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<!-- Uncomment here to access to camera component
  <button
  ion-button
  [color]="cameraOnOffBehavior.value ? 'success' : 'danger'"
  (click)="handleOnOffCamera(!cameraOnOffBehavior.value)"
>
  Camera {{cameraOnOffBehavior.value ? "On" : "Off"}}
</button>
<camera [onOff$]="cameraOnOffBehavior"></camera> -->
