<ng-container class="gallery-search" *ngIf="isSearchOpen; else elseTemplate">
  <button
    ion-button
    color="success"
    (click)="makeSearch(minDate.value, maxDate.value)"
  >
    <ion-icon name="search"></ion-icon>
  </button>
  <ion-item>
    <ion-datetime #minDate placeholder="Min"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-datetime #maxDate placeholder="Max"></ion-datetime>
  </ion-item>
  <div *ngIf="(filters$ | async) as filters">
    <ion-item>
      <ion-label>Localization</ion-label>
      <ion-select interface="alert" [(ngModel)]="selectedLocalization">
        <ion-option
          *ngFor="let filter of filters.localizations"
          [value]="filter"
        >
          {{filter.municipality}} - {{filter.county}} - {{filter.country}}
        </ion-option>
        <ion-option [value]="defaultLocalization" selected>All</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Device</ion-label>
      <ion-select interface="alert" [(ngModel)]="selectedDevice">
        <ion-option *ngFor="let device of filters.devices" [value]="device">
          {{device.name}}
        </ion-option>
        <ion-option [value]="defaultDevice" selected>All</ion-option>
      </ion-select>
    </ion-item>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <button ion-button color="success" (click)="openSearch()">Search</button>
</ng-template>
<canvas #canvasEl width="490" height="490"></canvas>

<p *ngIf="images.length > 0">
  {{images.length}} image{{images.length > 1 ? 's': ''}} available
</p>
<div class="gallery-images">
  <div
    class="gallery-image-container"
    [class.selected-image]="isSelectedImage(path)"
    *ngFor="let path of images"
    (click)="selectImage(path)"
  >
    <img class="gallery-image" [src]="path" />
  </div>
</div>

<!-- Uncomment here to access to camera component
  <button
  ion-button
  [color]="cameraOnOffBehavior.value ? 'success' : 'danger'"
  (click)="handleOnOffCamera(!cameraOnOffBehavior.value)"
>
  Camera {{cameraOnOffBehavior.value ? "On" : "Off"}}
</button>
<camera [onOff$]="cameraOnOffBehavior"></camera> -->
